.createForm {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 64px;

  .form {
    padding-right: 24px;
  }

  .inputContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    h4 {
      margin-bottom: 4px;
    }
  }
}
