.create {
  display: flex;
  flex-direction: column;
  padding-top: 12px;

  h1 {
    color: #42a5be;
    font-family: "Proxima Nova Extra Bold";
  }

  .createForm {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 120px;
    padding-top: 64px;

    .image {
      padding-left: 64px;
    }

    .form {
      padding-right: 64px;
    }

    .inputContainer {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      h4 {
        margin-bottom: 4px;
      }
    }
  }

  .buttonContainer {
    padding-top: 96px;
  }
}
