.cardContainer {
  border-radius: 6% !important;
  .cardContent {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .priceContainer {
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      h5 {
        margin: 2px;
      }
    }
  }

  .cardActions {
    padding-left: 16px !important;
    padding-right: 16px !important;
    padding-top: 0px !important;
    padding-bottom: 12px !important;
    display: flex;
    justify-content: space-between;
  }

  .cardContent {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .priceContainer {
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      h5 {
        margin: 2px;
      }
    }
  }

  .cardActions {
    padding-left: 16px !important;
    padding-right: 16px !important;
    padding-top: 0px !important;
    display: flex;
    justify-content: space-between;
  }
}

.expanded {
  padding-top: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 120px;

  .imgContainer {
    img {
      width: 400px;
    }
  }

  .info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .subInfo {
      display: flex;
      flex-direction: row;
      gap: 16px;
    }
  }
}

.form {
  .close {
    position: absolute;
    bottom: 190px;
    left: 425px;
    cursor: pointer;
  }
  .buttonContainer {
    display: flex;
    justify-content: center;
    button {
      margin-top: 24px;
    }
  }

  .success {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1 {
      margin: 0;
    }

    .closeTwo {
      position: absolute;
      bottom: 110px;
      left: 425px;
      cursor: pointer;
    }
  }
}

.dropDown {
  width: 300px;
  margin-bottom: 18px;
}
