.tab {
  font-family: "Proxima Nova Bold" !important;
}

.ownedNFTTitle {
  font-family: "Proxima Nova Extra Bold";
}

.nftsContainer {
  padding-top: 24px;
  display: flex;
  gap: 24px;
  justify-content: center;
  padding-left: 24px;
  padding-right: 24px;
  flex-wrap: wrap;
  padding-bottom: 36px;
}

.mainBox {
  padding-bottom: 24px;
}
