.wallet {

  .myWallets {
    font-family: 'Proxima Nova Extra Bold';
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;

    .listItem {
      font-family: 'Proxima Nova Regular';
      padding-bottom: 18px;
    }
  }

  .createWallet {
    font-family: 'Proxima Nova Bold';
    padding-top: 24px;

    .inputContainer {
      font-family: 'Proxima Nova Regular';
      padding-bottom: 24px;
    }
  }

  .walletInfo {
    display: flex;
    font-family: 'Proxima Nova Regular';
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
  }
}
