.wallet {
  .myWallets {
    font-family: "Proxima Nova Extra Bold";
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;

    .listItem {
      font-family: "Proxima Nova Regular";
      padding-bottom: 18px;
      cursor: pointer;
      border: 2px solid #42a5be;
    }
  }

  .createWallet {
    font-family: "Proxima Nova Bold";
    padding-top: 24px;
  }

  .walletInfo {
    display: flex;
    font-family: "Proxima Nova Regular";
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
  }
}

.inputContainer {
  font-family: "Proxima Nova Regular";
  margin-bottom: 24px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.buttonContainer {
  display: flex;
  justify-content: center;
}
