.exploreContainer {
  padding-top: 64px;
  padding-bottom: 24px;

  h2 {
    color: #42a5be;
    font-family: "Proxima Nova Extra Bold";
  }

  h3 {
    color: #42a5be;
    font-family: "Proxima Nova Extra Bold";
  }

  .header {
    display: flex;
    flex-direction: column;
    align-items: center;

    .textContainer {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      h5 {
        color: #42a5be;
        font-family: "Proxima Nova Extra Bold";
      }
    }

    .switchContainer {
      display: flex;
      flex-direction: column;
      align-items: center;

      h5 {
        margin: 0;
      }

      .switch {
        transform: scale(0.7);
      }
    }

    .headerWithSwitch {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      width: 500px;
    }

    h2 {
      margin: 0;
    }

    .searchBar {
      width: 500px;
    }
  }

  .nftsContainer {
    padding-top: 24px;
    display: flex;
    gap: 24px;
    justify-content: center;
    padding-left: 24px;
    padding-right: 24px;
    flex-wrap: wrap;
  }

  .listNftsContainer {
    padding-top: 32px;
    padding-left: 24px;
    padding-right: 24px;
    .listNft {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      gap: 200px;
      background-color: rgb(195, 194, 194);

      h4 {
        padding-right: 24px;
      }
    }

    .imgName {
      display: flex;
      align-items: center;
      gap: 24px;
    }

    img {
      width: 100px;
      height: 100px;
    }
  }
}
