.ce-message-bubble {
  background-color: #42a5be !important;
  font-family: 'Proxima Nova Regular' !important;
}

.ce-photo-section {
  font-family: 'Proxima Nova Bold' !important;
}

#ce-options-drop-down {
  font-family: 'Proxima Nova Bold' !important;
}
